@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    background-color: #c6ccfd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-part1, .form-part2 {
    display: flex;
    flex-direction: column;
    margin: 0 0.5em;
}

input {
    border: none;
    background: #f1f1f1;
    padding: 1em;
    margin: 1em 0;
    width: 250px;
    border-radius: 10px;
}

input:focus {
    outline: none;
    background-color: #ddd;
}

.radioButtons > label {
    display:inline-block;
    margin-top: 0.2em;
}

.radioButtons input {
    width: auto;
    margin-right: 1.5em;
}

.reg-button {
    background-color: #8790dc;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 150px;
    opacity: 0.8;
    padding: 1em 0;
    border-radius: 20px;
    margin-top: 2.5em;
}

.reg-button:hover {
    background-color: #555eaf;
}

@media screen and (min-width: 720px) {
    .form {
        flex-direction: row;
    }

    .radioButtons {
        text-align: start;
        margin-left: .3em;
    }

    .radioButtons > label {
        display:inline-block;
        margin-top: 1em;
    }
}